/*
@import url("res/main.css");
@import url("res/content.css");
@import url("res/icon.css");
*/
* {
	font-size: 9pt;
}
body {
	display: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	max-height: 100vh;
}
.item {
	display: flex;
	flex-direction: column;
}
.body {
	flex: 1
}
.header, .footer {
	flex: 0;
}
.window {
	display: flex;
	flex-direction: column;
	position: absolute;
	min-width: 100px;
	min-height: 50px;
	background: white;
	z-index: 2;
	padding: 0;
}
.window>* {
	background: silver;
}
.window:hover {
	cursor: w-resize;
}
.window>*:hover {
	cursor: default;
}
.body {
	display: flex;
	flex-direction: column;
	background: window;
}
.header {
	display: flex;
	flex-direction: row;
	background: activecaption;
	color: captiontext;
	font: small-caption;
	padding: 2px;
}
.table, .table * {
	border-color: green;
}
.column {
	flex: 1;
}
.album {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}
.pages {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 2mm;
}
.page {
	background: linen;
	max-width: 216mm;
	max-height: 280mm;
	padding: 5mm;
	flex: 4;
	box-shadow: 2px 2px 3px silver;
}
.content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
	overflow: hidden;
}
.issue {
	display: flex;
	flex-direction: column;
	margin: 0 2mm 0 2mm;
}

.sheets {
	flex: 0;
	overflow: auto;
}

.cell {
	outline: 0;
	margin: 0;
	padding: 2px;
	border: 0;
	border-right: 1px solid silver;
	text-align: left;
	overflow: hidden;
}
.cell:last-child {
	border-right: 0;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	text-align: left;
	border: 0;
	border-bottom: 1px solid silver;
}
.row:last-child {
	border-bottom: 0;
}
.grid {
	border: 1px solid silver;
}
.property {
	display: flex;
}
.property>.label {
	flex: 1;
	width: 25%;
}
.property>.field {
}
.region {
	font-size: 14pt;
	font-weight: bold;
}
.group {
	display: flex;
	justify-content: center;
}
.shape {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	color: black;
	margin: 1mm;
	padding: 0;
	flex: 0;
	overflow: hidden;
}
.shape>img, shape>.data {
	position: absolute;
}
.data {
	z-index: 2;
	color: rgba(0, 0, 0, .75);
}
.title {
	margin-top: 1mm;
	text-align: center;
}
.items {
	display: flex;
	flex: 0;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0 2mm 0 2mm;
}

@media print {
	BODY, .pages {
		margin: 0;
		padding: 0;
	}
	.page {
		background: white;
		box-shadow: none;
		min-width: 216mm;
		max-width: 216mm;
		min-height: 280mm;
		max-height: 280mm;
		background: linen;
		padding: 10mm 5mm 5mm 10mm;
	}
	.sheets {
		display: none;
		max-height: 0;
	}
}