@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('/res/tabs.css');
@import url('/res/tree.css');

*[id='i-*'] {
	stroke: red;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar-thumb {
    background: lightsteelblue;
}
*::-webkit-scrollbar-track {
	/* background: ghostwhite; */
	background: none;
}
* {
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0;
}
HTML {
	display: flex;
	flex-direction: column;
	height: 100%;
	/* overflow: hidden; */
}
HEAD {
	display: none;
}
BODY {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	overflow: hidden;
}
.workbench {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	max-height: 100%;
}
.workbench>.header {
	display: none;
}
.workbench>.body {
	display: flex;
	flex: 1 1;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: darkslategray;
	overflow: hidden;
}
.workbench>.footer {
	flex: 0 0 24px;
	min-height: 24px;
	background: ghostwhite;
	border-top: 1px solid gainsboro;
}
.main {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-content: stretch;
	overflow: hidden;
}
.workbench>.body>.context {
	min-width: 48px;
	flex: 0 0;
	background: black;
	color: white;
}
.workbench>.body>.main {
	flex: 3 3;
}
.tables {
	min-height: 48px;
}
.context IMG {
	stroke: green;
}
.context {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.context .icon {
	margin-top: 6px;
}
.sidebar {
	display: flex;
	flex-direction: column;
	min-width: 480px;
	max-width: 640px;
	flex: 1 1;
	padding-right: 4px;
	overflow: hidden;
}
.sidebar>.tree {
	flex: 1 1;
	padding: 8px;
	overflow: scroll;
	border-right: 1px solid gainsboro;
	background: white;
}
.sidebar>.value {
	flex: 0 0;
	min-height: 120px;
	padding: 8px;
	overflow: scroll;
	border-top: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	background: white;
}
SVG {
	fill: none;
	stroke: silver;
	stroke-width: .2;
	stroke-linecap: square;
	stroke-linejoin: square;
	border: 1px solid silver;
}
.point {
	stroke-width: 0;
	fill: green;
}
.vector {
	stroke: green;
	stroke-width: 2px;
	fill: rgba(0, 255, 0, .1)
}
.point:hover {
	stroke-width: 0;
	fill: orange;
}