.node, foreignobject {
	transition: all 80ms ease-out;
}

.node {
	fill: ghostWhite;
	stroke: slateGray;
	stroke-width: 1px;
	stroke-dasharray: 5 2;
}

.connector {
	stroke: slateGray;
	stroke-width: 1px;
	stroke-dasharray: 5 2;
}

.selected {
	stroke: green;
}

.text {
	font-size: 14px;
	outline: 0;
	margin: 0;
	padding: 4px;
	color: slateGray;
	cursor: text;
	background: transparent;
}

.node:hover {
	stroke: green;
}

.text:hover, .text:focus {
	color: black;
	background: white;
}