.node {
	fill: white;
	stroke: slateGray;
	stroke-dasharray: 5 2;
	transition: all 100ms ease-out;
}
.connector {
	stroke: slateGray;
	stroke-dasharray: 5 2;
}

.selected {
	stroke: green;
}