.node, foreignobject {
	transition: all 80ms ease-out;
}
.node {
	fill: white;
	stroke: slateGray;
	stroke-dasharray: 5 2;
}
.node:hover {
	fill: lightSteelBlue;
}
.connector {
	stroke: slateGray;
	stroke-dasharray: 5 2;
}

.selected {
	stroke: green;
}

.text {
	font-size: 14px;
	outline: 0;
	border: 0;
	color: slateGray;
}
.text:focus {
	color: black;
}