/*
@import url("res/main.css");
@import url("res/content.css");
@import url("res/icon.css");
*/
* {
	text-align: center;
	font-size: 9pt;
}
body {
	scroll: auto;
	padding: 2mm;
	background: ghostWhite;
}
.field {
	border: 0;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	outline: 0;
	text-align: left;
}
.field:last-child {
	border-right: 1px solid silver;
}
.record {
	text-align: left;
}
.record:last-child {
	border-bottom: 1px solid silver;
}
.page {
	min-width: 216mm;
	max-width: 216mm;
	min-height: 280mm;
	max-height: 280mm;
	background: linen;
	padding: 10mm 5mm 5mm 10mm;
}
.region {
	font-size: 14pt;
	font-weight: bold;
}
.shape {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	color: black;
	margin: 1mm;
	padding: 0;
	flex: 0;
}
.shape>img, shape>.data {
	position: absolute;
}
.data {
	z-index: 2;
	color: rgba(0, 0, 0, .75);
}
.group {
	display: flex;
	justify-content: center;
}
.title {
	margin-top: 1mm;
}
.items {
	display: flex;
	flex: 0;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0 2mm 0 2mm;
}
