/*
@import url("res/main.css");
@import url("res/content.css");
@import url("res/icon.css");
*/
* {
	text-align: center;
	font-size: 9pt;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}
.pages {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 2mm;
}
.page {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: linen;
	padding: 5mm;
	flex: 1;
	box-shadow: 2px 2px 3px silver;
}
.issue {
	display: flex;
	flex-direction: column;
	margin: 0 2mm 0 2mm;
}

.sheets {
	flex: none;
	max-height: 20vh;
	overflow: auto;
}
.field {
	border: 0;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	outline: 0;
	text-align: left;
}
.field:last-child {
	border-right: 1px solid silver;
}
.record {
	text-align: left;
}
.record:last-child {
	border-bottom: 1px solid silver;
}
.region {
	font-size: 14pt;
	font-weight: bold;
}
.group {
	display: flex;
	justify-content: center;
}
.shape {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	color: black;
	margin: 1mm;
	padding: 0;
	flex: 0;
}
.shape>img, shape>.data {
	position: absolute;
}
.data {
	z-index: 2;
	color: rgba(0, 0, 0, .75);
}
.title {
	margin-top: 1mm;
}
.items {
	display: flex;
	flex: 0;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0 2mm 0 2mm;
}

@media print {
	BODY, .pages {
		margin: 0;
		padding: 0;
	}
	.page {
		background: white;
		box-shadow: none;
		min-width: 216mm;
		max-width: 216mm;
		min-height: 280mm;
		max-height: 280mm;
		background: linen;
		padding: 10mm 5mm 5mm 10mm;
	}
	.sheets {
		display: none;
		max-height: 0;
	}
}