h1 {
	border-top: 1px solid steelblue;
	color: steelBlue;
	margin-top: 8px;
	padding-top: 2px;
	font-size: large;
}
h1:hover:after {
	content: "Level 1";
	background: gainsboro;
	color: white;
	padding: 0 4px 0 4px;
	border-radius: 2px;
	margin-left: 4px;
}
h2 {
	margin-top: 8px;
	font-style: italic;
	font-size: large;
	font-weight: normal;
	color: steelBlue;
}
h2:hover:after {
	content: "Level 2";
	background: gainsboro;
	color: white;
	padding: 0 4px 0 4px;
	border-radius: 2px;
	margin-left: 4px;
}
h3 {
	margin-top: 8px;
	font-size: medium;
	color: darkSlateGray;
}
h3:hover:after {
	content: "Level 3";
	background: gainsboro;
	color: white;
	padding: 0 4px 0 4px;
	border-radius: 2px;
	margin-left: 4px;
}

h4 {
	margin-top: 8px;
	color: steelBlue;
	font-size: medium;
	font-weight: normal;
}
h4:hover:after {
	content: "Level 4";
	background: gainsboro;
	color: white;
	padding: 0 4px 0 4px;
	border-radius: 2px;
	margin-left: 4px;
}

h5 {
	margin-top: 4px;
	color: slateGray;
	font-size: medium;
	font-weight: normal;
}
h5:hover:after {
	content: "Level 5";
	background: gainsboro;
	color: white;
	padding: 0 4px 0 4px;
	border-radius: 2px;
	margin-left: 4px;
}

h6 {
	margin-top: 4px;
	color: slateGray;
	font-size: smaller;
	font-weight: lighter;
}
h6:hover:after {
	content: "Level 6";
	background: gainsboro;
	color: white;
	padding: 0 4px 0 4px;
	border-radius: 2px;
	margin-left: 4px;
}

ul, ol {
	padding: 0 3px 0 0;
	border-right: 1.5px solid gainsboro;
}
ul {
	padding-left: 1.5em;
}
ol {
	list-style-type: none;
	padding-left: 1.5em;
}
ol>li:first-of-type {
	counter-reset: list;
}
ol>li:before {
	font-weight: bold;
	counter-increment: list;
	content: counters(list, ".") ". ";
}

li, p {
	margin: 4px 0 0 0;
}

p {
	padding: 0 3px 0 0;
	border-right: 1.5px solid silver;
}

u {
	text-decoration: underline silver;
}