@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar-thumb {
    background: lightsteelblue;
}
*::-webkit-scrollbar-track {
	background: ghostwhite;
}
*:focus {
	outline: 2px solid steelblue;
}

* {
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
BODY {
	flex: 1 1;
}

.grid, .header, .body, .footer, .body>.composite {
	display: flex;
	flex-direction: row;
	flex: 1;
}
.body>.composite, .grid>.header {
	border-bottom-width: 1px;

}
.grid {
	flex-direction: column;
}
.grid>.body {
	flex-direction: column;
}
.grid * {
	border-width: 0;
	border-style: solid;
	border-color: silver;
}
.header>.header, .handle {
	color: steelblue;
	background-color: aliceblue;
	font-weight: lighter;
	flex: 1;
	min-width: 2em;
	max-width: 2em;
}
.caption, .cell {
	flex: 1 1;
	padding: 3px;
	border-left-width: 1px;
}
.caption {
	background-color: aliceblue;
	color: steelblue;
}
.cell {
	overflow: auto;
}