*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar-thumb {
    background: lightsteelblue;
}
*::-webkit-scrollbar-track {
	background: ghostwhite;
}
*:focus {
	outline: 2px solid steelblue;
}

* {
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0;
}
BODY {
	flex: 1 1;
}

.Grid {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	border: 1px solid silver;
}
.Rows {
	display: flex;
	flex-direction: column;
	flex: 1 1;
}
.Grid * {
	border-width: 0;
	border-style: solid;
	border-color: silver;
}
.Header, .Row {
	display: flex;
	flex-direction: row;
	flex: 1 1;
	border-bottom-width: 1px;
}
.Row:last-child {
	border-bottom-width: 0;
}
.Column, .Cell {
	flex: 1 1;
	padding: 3px;
	border-right-width: 1px;
}
.Column:last-child, .Cell:last-child {
	border-right-width: 0px;
}
.Column {
	background-color: aliceblue;
	color: steelblue;
}
.Cell {
	overflow: auto;
}