.item {	
	display: flex;
	flex-direction: column;
}
.body {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.header, .footer {
	display: flex;
	flex-direction: row;
	background: silver;
	color: ghostwhite;
	padding: 2px;
	min-height: 24px;
}
.footer {
	min-height: 0;
}
.application, .application * {
	font: 16px arial;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	align-content: stretch;
	align-items: stretch;
	display: flex;
	flex: 1;
}

.window {
	flex-direction: column;
	position: absolute;
	background: white;
}

.active {
	z-index: 10000;
	box-shadow: 2px 2px 2px silver;
}
.active>.header {
	background: steelblue;
}