.grid {
	flex-direction: column;
	border: 1px solid silver;
	max-width: 90vw;
}
.cell {
	min-height: 20px;
	overflow: hidden;
	outline: 0;
	margin: 0;
	border: 0;
	padding: 2px;
	border-right: 1px solid silver;
	background: white;
}
.cell:last-child {
	border-right: 0;
}
.row {
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0;
	border-bottom: 1px solid silver;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: left;
}
.row:last-child {
	border-bottom: 0;
}
.grid {
}
.grid>.header {
	padding: 0;
	border-bottom: 1px solid silver;
	background: ghostWhite;
	color: steelblue;
}
.column {
	background: inherit;
}
.label {
	color: steelblue;
	background: ghostwhite;
}
