
INPUT {
	font: inherit;
	margin: 3px;
}
.table {
	flex: 1 1 100%;
	min-width: 10cm;
	border-left: 1px solid gainsboro;
	border-top: 1px solid gainsboro;
	background: white;
}
.table>.header, .table>.footer, .row>.header {
	background: ghostwhite;
	color: slategrey;
	cursor: default;
}
.row, .record {
	flex: 1;
}
/* .collection {
	display: flex;
	flex-direction: column;
} */
.row>.header {
	border-bottom: 1px solid gainsboro;
	overflow: hidden;
	min-width: 24px;
	max-width: 24px;
	padding: 4px;
}
.cell {
	border-bottom: 1px solid gainsboro;
	border-left: 1px solid gainsboro;
	padding: 0;
	overflow: hidden;
	align-items: stretch;
}
.cell>*, .cell>.link>* {
	flex: 1 1;
	padding: 3px;
}
.cell>.link {
	padding: 0;
}
.key {
	border-left-width: 0;
	flex: 0 0 5mm;
	text-align: right;
	overflow: hidden;
}

.propertySheet>.record {
	flex-direction: column;
}

.dynamic {
	font-style: italic;
	font-weight: 100;
}
.pane {
	position: absolute;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	background:  ghostwhite;
	border: 1px solid gainsboro;
	overflow: hidden;
	box-shadow: 0 0 10px silver;
}
.link {
	display: flex;
	align-items: flex-start;
}
.link * {
	flex: 1 1;
	align-self: stretch;
}
.link>IMG {
	align-self: flex-start;
	max-width: 24px;
}

.panel {
	align-items: stretch;
	display: flex;
	flex-direction: column-reverse;
}
.panel>.header {
	font-weight: bold;
	flex: 0 0;
	padding: 6px;
}
.panel>.footer {
	display: none;
}
.panel>.body {
	padding: 6px;
	display: flex;
	flex-direction: column;
	flex: 1 1;
	background: white;
	overflow-y: auto;
	overflow-x: hidden;
}