* {
	margin: 0;
	padding: 0;
	border: 0;
}

article {
	padding: 8px 8px 8px 16px;
}
article *:hover {
	background: pink;
}

ul, ol {
	padding: 0 4px 0 0;
	border-right: 1.5px solid silver;
	background: window;
}
ul:hover, ol:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover
{
	background: rgba(127, 127, 127, .1);
}
ul:hover li, ol:hover li, p:hover {
	background: window;
}
b:hover, i:hover,  u:hover {
	background: rgba(127, 127, 127, .05);
}
p {
	padding: 0 4px 0 0;
	border-right: 1.5px solid gainsboro;
	background: window;
}
u {
	text-decoration: underline silver;
}
html, body, main {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	overflow: hidden;
	min-height: 100%;
	max-height: 100%;
}
h1 {
	border-top: 1px solid steelblue;
	color: steelBlue;
	margin: 2px 0 2px 0;
	padding-top: 2px;
	font-size: large;
}
h2 {
	margin: 8px 0 2px 0;
	font-style: italic;
	font-size: large;
	color: darkSlateGray;
}
h3 {
	margin: 4px 0 2px 0;
	color: darkSlateGray;
}
h4 {
	margin: 2px 0 2px 0;
	font-size: 14px;
	color: darkSlateGray;
}
h4:before {
	content: " . ";
}
h5 {
	margin: 2px 0 2px 0;
	font-size: 14px;
	color: darkSlateGray;
}
h5:before {
	content: " .. ";
}
h6 {
	margin: 2px 0 2px 0;
	font-size: 14px;
	color: darkSlateGray;
}
h6:before {
	content: " ... ";
}

ul {
	padding-left: 1.5em;
}

ol {
  list-style-type: none;
  padding-left: 1.5em;
}
ol>li:first-of-type {
  counter-reset: list;
}
ol>li:before {
  counter-increment: list;
  content: counters(list, ".") ". ";
}
blink {
	display: inline;
	position: absolute;
	width: 0;
	background-color: black;
	opacity: 50%;
}

article {
	position: relative; /*for floating the caret*/
	flex: 1;
	padding-left: 4px;
	overflow: auto;
}

main>nav {
	display: flex;
	background: black;
	flex: 0;
}
.actions {
	padding-left: 4px;
	padding-right: 4px;
	border-right: 2px solid rgba(128, 128, 128, .5);
}

button {
	padding: 0;
	margin: 1px;
	max-width: 28px;
	max-height: 28px;
}
dt {
	font-weight: bold;
	color: steelblue;
	display: inline;
}
dt:after {
	content: ": ";
}
button>img {
	margin: 1px;
	width: 24px;
	height: 24px;
}
