
.tabs {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-content: stretch;
	overflow: hidden;
}
.tabs>.header {
	display: flex;
	flex: 0 0;
	min-height: 36px;
	background-color: gainsboro;
	overflow: scroll;
	user-select: none;
}
.tabs>.body {
	flex: 1 1;
	align-content: stretch;
	overflow: auto;
/*
	display: flex;
	flex-direction: column;
	 color: darkslategrey;
	border-bottom: 1px solid gainsboro; */
} 

.tabs>.header::-webkit-scrollbar {
	width: 0px;
	height: 4px;
}
.tabs>.header::-webkit-scrollbar-track {
	background: white;
}
.tabs>.header::-webkit-scrollbar-thumb {
    background: none;
}
.tabs>.header:hover::-webkit-scrollbar-thumb {
    background: lightsteelblue;
}

.tab {
	display: flex;
	align-content: center;
	align-items: center;
	flex: 1 1;
	cursor: pointer;
	max-width: 150px;
	min-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: slategrey;
	background: ghostwhite;
	margin-left: 1px;
	border-bottom: 1px solid gainsboro;
	border-radius: 4px 4px 0 0;
}
.activeTab {
	background-color: white;
	border-bottom-color: white;
}
.tab>IMG {
	width: 20px;
	height: 20px;
	margin: 0 4px 0 4px;
}

.workbench>.tabs {
	flex-direction: row;
	overflow: hidden;
}
.workbench>.tabs>.body {
	overflow: hidden;
}
.workbench>.tabs>.header {
	display: flex;
	flex-direction: column;
/*	align-items: center; */
	flex: 0 0 38px;
	/*
	min-width: 48px;
	max-width: 48px;
	*/
	background-color: gainsboro;
	border-left: 1px solid gainsboro;
	border-right: 4px solid white;
	overflow: hidden;
}
.workbenchTab {
	background-color: ghostWhite;
	padding: 2px;
	border-radius: 4px 0 0 4px;
}
.workbenchTab.activeTab {
	background-color: white;
}
.workbenchTab>IMG {
}
.workbenchTab>SPAN {
	display: none;
}