
.tabs {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-content: stretch;
	overflow: hidden;
}
.tabs>.header {
	display: flex;
	flex: 0 0;
	min-height: 40px;
	overflow: scroll;
	user-select: none;
	background-color: #1a213f;
	border-color: #1a213f;
	padding-top: 2px;
}
.tabs>.body {
	flex: 1 1;
	align-content: stretch;
	overflow: auto;
/*
	display: flex;
	flex-direction: column;
	 color: darkslategrey;
	border-bottom: 1px solid gainsboro; */
} 

.tabs>.header::-webkit-scrollbar {
	width: 0px;
	height: 4px;
}
.tabs>.header::-webkit-scrollbar-track {
	background: ghostwhite;
}
.tabs>.header::-webkit-scrollbar-thumb {
    background: none;
}
.tabs>.header:hover::-webkit-scrollbar-thumb {
    background: lightsteelblue;
}

.tab {
	display: flex;
	align-content: center;
	align-items: center;
	flex: 0 0 3cm;
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: ghostwhite;
	background: inherit;
	padding-top: 4px;
	border-bottom: 4px solid ghostwhite;
	border-bottom-color: inherit;
	border-radius: 4px 4px 0 0;
}
.tab:hover {
	border-bottom-color: gainsboro;
}
.activeTab:hover {
	border-bottom-color: ghostwhite;
}
.activeTab {
	color: black;
	background-color: ghostwhite;
	border-bottom-color: ghostwhite;
}
.tab>IMG {
	width: 20px;
	height: 20px;
	margin: 0 4px 0 4px;
}

.workbench>.tabs {
	flex-direction: row;
	overflow: hidden;
}
.workbench>.tabs>.header {
	overflow: hidden;
	flex-direction: column;
	flex: 0 0 48px;
	padding-top: 36px;
	/*
	min-width: 48px;
	max-width: 48px;
	*/
}
.workbenchTab {
	margin: 4px;
	padding: 4px;
	min-width: 38px;
	min-height: 38px;
	border-radius: 3px;
}
.workbenchTab.activeTab {
	background-color: ghostwhite;
}
.workbenchTab:hover {
	background-color: ghostwhite;
}
.workbenchTab>SPAN {
	display: none;
}