
.stack {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-content: stretch;
	overflow: hidden;
}
.stack>.header {
	display: flex;
	flex: 0 0;
	min-height: 36px;
	background-color: ghostwhite;
	overflow: scroll;
	user-select: none;
}
.stack>.body {
	flex: 1 1;
	background: ghostwhite;
	align-content: stretch;
	overflow: auto;
/*
	display: flex;
	flex-direction: column;
	 color: darkslategrey;
	border-bottom: 1px solid gainsboro; */
} 

.stack>.header::-webkit-scrollbar {
	width: 0px;
	height: 4px;
}
.stack>.header::-webkit-scrollbar-track {
	background: white;
}
.stack>.header::-webkit-scrollbar-thumb {
    background: none;
}
.stack>.header:hover::-webkit-scrollbar-thumb {
    background: lightsteelblue;
}

.tab {
	display: flex;
	align-content: center;
	align-items: center;
	flex: 1 1;
	cursor: pointer;
	max-width: 150px;
	min-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-right: 1px solid gainsboro;
	color: slategrey;
	background: #eaeaea;
}
.activeTab {
	background-color: white;
}
.activeTab * {
}
.tab>IMG {
	width: 20px;
	margin: 0 4px 0 4px;
}

.workbench>.stack {
	flex-direction: row;
	overflow: hidden;
}
.workbench>.stack>.body {
	overflow: hidden;
}
.workbench>.stack>.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0;
	min-width: 48px;
	max-width: 48px;
	background-color: gray;
	border-right: 4px solid ghostwhite;
	overflow: hidden;
}
.workbenchTab {
	background-color: none;
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
}
.workbenchTab.activeTab {
	background-color: ghostwhite;
}
.workbenchTab>IMG {
	width: 100%;
}
.workbenchTab>SPAN {
	display: none;
}