.workbench {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	max-height: 100%;
}
.workbench>.header {
	flex: 0 0 24px;
	min-height: 24px;
	background: ghostwhite;
	border-bottom: 1px solid gainsboro;
}
.workbench>.body {
	display: flex;
	flex: 1 1;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: darkslategray;
	overflow: hidden;
}
.workbench>.footer {
	flex: 0 0 24px;
	min-height: 24px;
	background: ghostwhite;
	border-top: 1px solid gainsboro;
}
/* .main {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-content: stretch;
	overflow: hidden;
} 
.workbench>.body>.context {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 48px;
	flex: 0 0;
	background: black;
	color: white;
}
.workbench>.body>.content {
	display: flex;
	flex: 1 1;
	align-content: stretch;
	overflow: hidden;
}
.context IMG {
	stroke: green;
}
.context .icon {
	margin-top: 6px;
}
*/
.tables {
	min-height: 48px;
}
.sidebar {
	display: flex;
	flex-direction: column;
	min-width: 120px;
	max-width: 640px;
	flex: 0 0 240px;
	padding-right: 4px;
	overflow: hidden;
	background: ghostwhite;
	border-right: 1px solid gainsboro;
}
.sidebar>.tree {
	flex: 1 1;
	padding: 8px;
	overflow: scroll;
	border-right: 1px solid gainsboro;
	background: white;
}
.sidebar>.value {
	flex: 0 0;
	min-height: 120px;
	padding: 8px;
	overflow: scroll;
	border-top: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	background: white;
}
