.grid {
	flex-direction: column;
}
.cell {
	font: 16px arial;
	min-height: 20px;
	overflow: hidden;
	outline: 0;
	margin: 0;
	border: 0;
	padding: 3px;
	border-right: 1px solid silver;
	background: inherit;
}
.cell:last-child {
	border-right: 0;
}
.key {
	font-weight: bold;
}
.row {
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0;
	border-bottom: 1px solid silver;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: left;
}
.row:last-child {
	border-bottom: 0;
}
.grid {
}
.grid>.header {
	padding: 0;
	border-bottom: 1px solid silver;
	background: ghostWhite;
	color: steelblue;
}
.column {
	background: inherit;
}
.label, .handle {
	color: steelblue;
	background: ghostwhite;
}

.link>div {
	max-width: 16px;
	cursor: pointer;
}