@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('/res/tabs.css');
@import url('/res/tree.css');

*[id='i-*'] {
	stroke: red;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar-thumb {
    background: lightsteelblue;
}
*::-webkit-scrollbar-track {
	/* background: ghostwhite; */
	background: none;
}
* {
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0;
}
HTML {
	display: flex;
	flex-direction: column;
	height: 100%;
	/* overflow: hidden; */
}
HEAD {
	display: none;
}
BODY {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	overflow: hidden;
}
IFRAME {
	flex: 1 1;
	width: 100%;
	height: 100%;
}
.workbench {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	max-height: 100%;
}
.workbench>.header {
	display: none;
}
.workbench>.body {
	display: flex;
	flex: 1 1;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: darkslategray;
	overflow: hidden;
}
.workbench>.footer {
	flex: 0 0 24px;
	min-height: 24px;
	background: ghostwhite;
	border-top: 1px solid gainsboro;
}
.main {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-content: stretch;
	overflow: hidden;
}
.workbench>.body>.context {
	min-width: 48px;
	flex: 0 0;
	background: black;
	color: white;
}
.workbench>.body>.main {
	flex: 3 3;
}
.tables {
	min-height: 48px;
}
.context IMG {
	stroke: green;
}
.context {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.context .icon {
	margin-top: 6px;
}
.sidebar {
	display: flex;
	flex-direction: column;
	min-width: 480px;
	max-width: 640px;
	flex: 1 1;
	padding-right: 4px;
	overflow: hidden;
}
.sidebar>.tree {
	flex: 1 1;
	padding: 8px;
	overflow: scroll;
	border-right: 1px solid gainsboro;
	background: white;
}
.sidebar>.value {
	flex: 0 0;
	min-height: 120px;
	padding: 8px;
	overflow: scroll;
	border-top: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	background: white;
}
SVG {
	fill: none;
	stroke: silver;
	stroke-width: .2;
	stroke-linecap: square;
	stroke-linejoin: square;
	border: 1px solid silver;
}
SVG:focus {
	border-color: steelblue;
}
.point {
	stroke-width: 0;
	fill: silver;
}
.vector {
	stroke: seagreen;
	stroke-width: 2px;
	fill: rgba(0, 128, 0, .3)
}
.point[data-cmd="M"] {
	fill: green;
}
.point[data-cmd="L"] {
	fill: darkslategrey;
}
.point[data-cmd="Q"] {
	fill:lightskyblue;
}
.point[data-cmd="S"] {
	fill:salmon;
}
.point:hover {
	stroke: steelblue;
	stroke-width: 1;
}
.note {
	display: block;
	flex: 1 1;
	min-height: 100%;
	padding: 1em;
}
.line {
	padding-bottom: .4em;
	list-style: none;
	margin-left: 0;
}

.line[data-level='1'] {
	margin-left: 1em;
}

.line[data-level='2'] {
	margin-left: 2em;
}

.line[data-level='3'] {
	margin-left: 3em;
}

.section {
	list-style: none;
	color: burlywood;
}
.section[data-level='0'] {
	font-size: 18pt;
}

.section[data-level='1'] {
	font-size: 16pt;
}

.section[data-level='2'] {
	font-size: 14pt;
}

.section[data-level='3'] {
	font-size: 12pt;
}