*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar-thumb {
    background: lightsteelblue;
}
*::-webkit-scrollbar-track {
	background: ghostwhite;
}
*:focus {
	outline: 2px solid steelblue;
}

INPUT {
	border: 1px solid buttonshadow;
}
.diagram {
	top: 300px;
	left: 0px;
	width: 640px;
	height: 480px;
	position: relative;
	border: 1px solid buttonshadow;
	overflow: auto;
}
.shape {
	position: absolute;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/*
	align-items: stretch;
	align-content: stretch;
	vertical-align: middle;
	*/
	border: 0;
	background: lightGray;
}

.shape * {
	cursor: inherit;
}

.text {
	font-size: 9pt;
}

.shape>* {
	flex: 1 1;
	overflow: hidden;
}
.diagram .text {
	padding: 6px;
	text-align: center;
	background: ghostWhite;
	border: 1px solid gray;
}
.diagram .text {
}
.diagram .text:focus {
	background: window;
	margin: 3px;
	border: 0;
	overflow: auto;
	cursor: text;
	outline-width: 2px;
	z-index: 3;
}

.diagram P {
	margin: 0;
}